<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>NY Real Estate Sale Database API</title>
</head>
<body>
    <div class="container">
    <h1>NY Real Estate Sale Database API</h1>
    <div class="list">
    <h2>Available Routes:</h2>
        <ul>
            <li><a href="http://127.0.0.1:5000/Sales">Get sales by borough</a></li>
        
        </ul>
    </div>
    </div>
    </div>
 
    <footer>Brought to you by: Team Magnificent 3</footer>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="/static/js/testjavascript.js"></script>

</body>
    

</html>